APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:c38bB3Y/W7pyfE93KW+WZ8eABIOdEdNULLhtiZA044s=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost
API_URL=http://sekolahcimahi.dev/
IMG_URL=http://sekolahcimahi.dev/
GOOGLE_MAPS_API_KEY=AIzaSyBoLQyif0tfik3UOs6p5ftz5V6Ny4X7vlg

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sekolahcimahi
DB_USERNAME=root
DB_PASSWORD=mysql

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
